html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1600px;
  margin: 0 auto;
}

.clearfix::after {
  display: table;
  content: '';
  clear: both;
}

header {
  margin-bottom: 32px;
  margin-top: 32px;
}

.overlay {
  position: absolute;
  width: 235px;
  height: 261px;
  background-color: rgb(0, 0, 0);
  opacity: 0;
  top: 10px;
  left: 10px;
}

/* /* opacity for overlay */
.colection-list-item:hover .overlay {
  opacity: 0.549;
}


.site-logo {
  font-size: 30px;
  line-height: 32px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #555252;
  text-decoration: none;
  float: left;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 245px;
}

.site-logo::first-letter {
  color: #1abc9c;
  font-weight: 900;
}

.main-nav {
  margin-right: 245px;
}

.main-nav-list {
  font-size: 14px;
  line-height: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #0f0101;
  list-style: none;
  text-transform: uppercase;
  float: right;
}

.main-nav-list-item {
  float: left;
}

.main-nav-list li:nth-child(1) {
  margin-right: 34px;
}

.main-nav-list li:nth-child(2) {
  margin-right: 38px;
}

.main-nav-list li:nth-child(3) {
  margin-right: 30px;
}

.main-nav-list li:nth-child(4) {
  margin-right: 28px;
}

.main-nav-list li:nth-child(5) {
  margin-right: 34px;
}

.main-nav-list a {
  text-decoration: none;
  color: #0f0101;
}

.main-nav-list a:hover,
.main-nav-list a:focus {
  color: #1abc9c;
}

.slider {
  position: relative;
  width: 1600px;
  height: 600px;
}

.slider-ctrl {
  position: absolute;
  display: inline-block;
  width: 104px;
  height: 104px;
  background-color: #1abc9c;
  border: none;
  top: 224px;
  z-index: 1;
  padding: 0;
  cursor: pointer;
}

.slides {
  list-style: none;
  padding: 0;
  margin: 0;
}

.slides-image {
  height: 600px;
  object-fit: cover;
  width: 100%;
}

.slider-ctrl-prev {
  left: 245px;
}

.slider-ctrl-next {
  right: 245px;
}

.slider-ctrl-next::before {
  font-family: "Pe-icon-7-stroke";
  content: '\e684';
  font-size: 100px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.slider-ctrl-prev::before {
  font-family: "Pe-icon-7-stroke";
  content: '\e686';
  font-size: 100px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.slides-item {
  position: relative;
}

.slides-title {
  position: absolute;
  font-size: 60px;
  line-height: 82px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase;
  text-align: left;
  left: 432px;
  top: 202px;
  margin: 0;
  padding: 0;
}

.slides-text {
  position: absolute;
  font-size: 24px;
  line-height: 54px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-transform: uppercase;
  left: 432px;
  top: 260px;
}

.colection h2 {
  font-size: 48px;
  line-height: 48px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: #515151;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
  display: block;
}

.colection h2::after {
  content: '';
  width: 164px;
  height: 7px;
  margin-bottom: 50px;
  background-color: #1abc9c;
  display: block;
  margin-left: 718px;
  margin-top: 32px;
  margin-bottom: 82px;
}

.colection {
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #e9f0fd;
}

.colection-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.colection-list-item {
  position: relative;
  float: left;
  width: 255px;
}

.colection-list-item:not(:last-child) {
  margin-right: 30px;
}

.colection-list-item:first-child {
  margin-left: 245px;
}

.colection-list-item-title,
.colection-list-item-price {
  font-size: 18px;
  line-height: 32px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: #ffffff;
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0;
  height: 40px;
  text-transform: uppercase;
  padding-left: 12px;
  padding-top: 7px;
}

.colection-list-item-title {
  width: 201px;
  background-color: #323232;
}

.colection-list-item-price {
  width: 54px;
  background-color: #8c8c8c;
}

.colection-list-item-price::before {
  content: '\0024';
}

.overlay-button {
  list-style: none;
}

.overlay-button-item-button {
  display: inline-block;
  border: none;
  margin: 0;
  padding: 0;
}

.overlay-button li {
  position: absolute;
  cursor: pointer;
  border: 1px solid rgb(255, 255, 255);
}

.overlay-button li:first-child::before {
  font-family: "Pe-icon-7-stroke";
  content: '\e642';
  font-size: 30px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.067;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay-button li:nth-child(2)::before {
  font-family: "Pe-icon-7-stroke";
  content: '\e614';
  font-size: 30px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.067;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay-button li:nth-child(3)::before {
  font-family: "Pe-icon-7-stroke";
  content: '\e66b';
  font-size: 30px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.067;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay-button li:nth-child(4)::before {
  font-family: "Pe-icon-7-stroke";
  content: '\e66e';
  font-size: 30px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.067;
  position: absolute;
  left: 12px;
  top: 10px;
}

.add-to-cart {
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  width: 166px;
  height: 50px;
  position: absolute;
  top: 10px;
  padding-left: 50px;
}

.overlay-button li:first-child {
  top: 78px;
  left: 35px;
  width: 48px;
  height: 48px;
}

.overlay-button li:nth-child(-n+3):hover {
  background-color: #1abc9c;
  border: none;
  position: absolute;
}

/* .overlay-button li:last-child:hover {
  background-color: #323232;
} */

#add-to-cart {
  background-color: #323232;
}

.overlay-button li:nth-child(2) {
  top: 78px;
  left: 94px;
  width: 48px;
  height: 48px;
}

.overlay-button li:nth-child(3) {
  top: 78px;
  left: 150px;
  width: 48px;
  height: 48px;
}

.overlay-button li:nth-child(4) {
  top: 136px;
  left: 35px;
  height: 48px;
  width: 165px;
}

.colection-list-item:hover .colection-list-item-title {
  background-color: #1abc9c;
}

.colection-list-item:hover .colection-list-item-price {
  background-color: #7fd9c7;
}

.img-text {
  position: absolute;
  bottom: 0;
}

.footer-content {
  font-size: 16px;
  line-height: 28px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #fefefe;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%);
}

footer {
  height: 88px;
  background-color: #323232;
  position: relative;
}

.design-company {
  color: #46bfa9;
}

/* visually-hidden helper */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}